<sectin class="advence">
    <header class="header">
        <div class="logo">
            <img src="img/logo.png" alt="logo">
        </div>
        <div class="nav-menu">
            <ul class="nav-menu__item">
                <li class="item">
                    <a href="#">athletes</a>
                </li>
                <li class="item">
                    <a href="#">brands</a>
                </li>
                <li class="item">
                    <a href="#">team</a>
                </li>
                <li class="item">
                    <a href="#">blog</a>
                </li>
                <li class="item">
                    <a href="#">about</a>
                </li>
            </ul>
        </div>
        <div class="header-icons">
            <div class="icons">
                <img src="img/slice-5.png" alt="icons">
            </div>
        </div>
    </header>
    <div class="menu__mycampaigns">
        <div class="mycampaigns">
            <span>my campaigns</span>
        </div>
        <div class="menu__plus-hiden-menu">
            <div class="hiden-menu">
                <ul class="menu">
                    <li class="item"><img src="img/1456598423-300px.png" class="width-img" alt="icon"></li>
                    <li class="item"><img src="img/calendar-icon.png" class="width-img" class="icons" alt="icon"></li>
                    <li class="item"><img src="img/cloud.png" class="width-img" class="icons" alt="icon"></li>
                    <li class="item"><img src="img/computer.png" class="width-img" class="icons" alt="icon"></li>
                    <li class="item"><img src="img/file.png" class="width-img" alt="icon"></li>
                    <li class="item"><img src="img/hraf.png" class="width-img" alt="icon"></li>                        <li class="item"><img src="img/loop.png" class="width-img" alt="icon"></li>
                    <li class="item"><img src="img/waves.png" class="width-img" alt="icon"></li>
                </ul>
            </div>
            <div class="plus-img">
                <img src="img/plus.png" class="width-img" alt="plus">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="camping-title">
            <span>camping title</span>
        </div>
        <div class="my-athlets">
            <span>my athletes (04/10)</span>
        </div>
        <div class="circle">
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
            <div class="circle__item"></div>
        </div>
        <div class="view-search-loc-sport">
            <div class="view">
                <div class="view__circle"></div>
                <span class="view__text">view campaign progress</span>
            </div>
            <div class="search__container">
                <form action="" method="post" class="search">
                    <input type="search" name="" placeholder="search" class="input" />
                    <input type="submit" name="" value="" class="submit" />
                </form>
            </div>
            <div class="loc-sport">
                <div class="location">
                    <span>location</span>
                </div>
                <div class="bord"></div>
                <div class="sport">
                    <span>sport</span>
                </div>
            </div>
        </div>
    </div>
</sectin>